h1 {
  color: #8a1253;
  font-size: 50px;
  text-align: center;
}

.row {
  text-align: center;
}

small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  background: #dfebed;
}

.container {
  padding-right: 130px;
  padding-left: 130px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-top: 100px;
}

.weather {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 50px;
  color: #878787;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#location {
  font-size: 40px;
  color: #000;
}

#day-time,
#humidity,
#wind,
#looking-like {
  color: #000;
}

#temper {
  font-size: 35px;
  color: #000;
}

#city-input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#city-submission {
  border-radius: 8px;
  background: #c51350;
  color: #000;
}

small {
  color: #000;
}
