h1 {
  color: red;
  font-size: 50px;
  text-align: center;
}

ul {
  text-align: center;
  padding: 0;
}

.emoji {
  font-size: 30px;
}

.row {
  text-align: center;
}

small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.location {
  font-weight: bold;
  font-size: 40px;
  padding: 1px;
}

.day-time {
  font-size: 20px;
  padding: 10px;
}

.degrees {
  font-size: 2rem;
}

.looking-like {
  font-size: 20px;
}

.temperature {
  font-size: 4rem;
}
